.billabong-theme {
          --semantic-fg-default: #000000;
  --semantic-fg-muted: #4b5563;
  --semantic-fg-subtle: #6b7280;
  --semantic-fg-on-accent: #ffffff;
  --semantic-fg-on-disabled: #9ca3af;
  --semantic-fg-disabled: #d1d5db;
  --semantic-fg-accent: #0d9488;
  --semantic-bg-surface: #ffffff;
  --semantic-bg-muted: #ffffff;
  --semantic-bg-subtle: #F6FCFB;
  --semantic-bg-canvas: #f9fafb;
  --semantic-cta-default: #0d9488;
  --semantic-cta-emphasised: #0f766e;
  --semantic-cta-muted: #14b8a6;
  --semantic-cta-subtle: #99f6e4;
  --semantic-cta-disabled: #9ca3af;
  --semantic-primary-default: #2dd4bf;
  --semantic-primary-emphasised: #14b8a6;
  --semantic-primary-muted: #5eead4;
  --semantic-primary-subtle: #99f6e4;
  --semantic-primary-disabled: #9ca3af;
  --semantic-ui-shadow: [object Object];
  --semantic-border-radius-ui-card: 4px;
  --semantic-border-radius-ui: 4px;
      }