.dc-shoes-theme {
          --font-family-font-1: "Pragmatica";
  --font-family-font-2: "Pragmatica";
  --font-weight-semi-bold: Bold;
  --semantic-fg-default: #171717;
  --semantic-fg-muted: #404040;
  --semantic-fg-subtle: #737373;
  --semantic-fg-on-accent: #ffffff;
  --semantic-fg-on-disabled: #a3a3a3;
  --semantic-fg-disabled: #d4d4d4;
  --semantic-fg-accent: #404040;
  --semantic-bg-surface: #ffffff;
  --semantic-bg-muted: #e7e5e4;
  --semantic-bg-subtle: #e5e7eb;
  --semantic-bg-canvas: #fafafa;
  --semantic-cta-default: #404040;
  --semantic-cta-emphasised: #404040;
  --semantic-cta-muted: #737373;
  --semantic-cta-subtle: #e5e5e5;
  --semantic-cta-disabled: #9ca3af;
  --semantic-primary-default: #171717;
  --semantic-primary-emphasised: #404040;
  --semantic-primary-muted: #737373;
  --semantic-primary-subtle: #e5e5e5;
  --semantic-primary-disabled: #9ca3af;
  --semantic-ui-shadow: [object Object];
  --semantic-ui-border-radius: 0px;
  --semantic-inputs-background: #e7e5e4;
  --semantic-inputs-text: #404040;
  --semantic-inputs-placeholder: #737373;
  --semantic-inputs-border-default: #e7e5e4;
  --semantic-inputs-border-disabled: #a3a3a3;
  --semantic-inputs-fg-disabled: #d4d4d4;
  --semantic-border-radius-actions: 8px;
  --semantic-border-radius-inputs: 0px;
  --semantic-border-radius-status: 0px;
  --semantic-border-radius-ui-card: 0px;
  --semantic-border-radius-ui: 0px;
  --semantic-border-radius-feedback: 4px;
  --semantic-border-radius-navigation-default: 0px;
  --semantic-border-radius-navigation-round: 100px;
  --semantic-border-width-actions: 1;
  --semantic-border-width-inputs: 1;
  --semantic-border-width-status: 1;
  --semantic-border-width-feedback: 1;
  --semantic-border-width-navigation: 2;
  --semantic-border-width-slider: 4;
  --semantic-border-width-focus: 4;
  --semantic-border-width-card: 0;
  --semantic-color-actions-primary-default-text-color: #171717;
  --semantic-color-actions-primary-default-border-color: #171717;
  --semantic-color-actions-primary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-default-quiet-text-color: #171717;
  --semantic-color-actions-primary-default-background-color: #ffffff03;
  --semantic-color-actions-primary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-primary-hover-border-color: #737373;
  --semantic-color-actions-primary-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-hover-text-color: #ffffff;
  --semantic-color-actions-primary-hover-quiet-text-color: #ffffff;
  --semantic-color-actions-primary-hover-background-color: #737373;
  --semantic-color-actions-primary-hover-quiet-background-color: #737373;
  --semantic-color-actions-primary-active-border-color: #404040;
  --semantic-color-actions-primary-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-active-text-color: #ffffff;
  --semantic-color-actions-primary-active-quiet-text-color: #ffffff;
  --semantic-color-actions-primary-active-background-color: #404040;
  --semantic-color-actions-primary-active-quiet-background-color: #404040;
  --semantic-color-actions-primary-focus-border-color: #171717;
  --semantic-color-actions-primary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-focus-text-color: #171717;
  --semantic-color-actions-primary-focus-quiet-text-color: #171717;
  --semantic-color-actions-primary-focus-background-color: #ffffff03;
  --semantic-color-actions-primary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-default-border-color: #f87171;
  --semantic-color-actions-negative-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-default-text-color: #f87171;
  --semantic-color-actions-negative-default-quiet-text-color: #f87171;
  --semantic-color-actions-negative-default-background-color: #ffffff03;
  --semantic-color-actions-negative-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-hover-border-color: #fca5a5;
  --semantic-color-actions-negative-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-hover-text-color: #ffffff;
  --semantic-color-actions-negative-hover-quiet-text-color: #fca5a5;
  --semantic-color-actions-negative-hover-background-color: #fca5a5;
  --semantic-color-actions-negative-hover-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-active-border-color: #ef4444;
  --semantic-color-actions-negative-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-active-text-color: #ffffff;
  --semantic-color-actions-negative-active-quiet-text-color: #ef4444;
  --semantic-color-actions-negative-active-background-color: #ef4444;
  --semantic-color-actions-negative-active-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-border-color: #f87171;
  --semantic-color-actions-negative-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-focus-text-color: #f87171;
  --semantic-color-actions-negative-focus-quiet-text-color: #f87171;
  --semantic-color-actions-negative-focus-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-cta-default-border-color: #404040;
  --semantic-color-actions-cta-default-text-color: #ffffff;
  --semantic-color-actions-cta-default-background-color: #404040;
  --semantic-color-actions-cta-hover-border-color: #737373;
  --semantic-color-actions-cta-hover-text-color: #ffffff;
  --semantic-color-actions-cta-hover-background-color: #737373;
  --semantic-color-actions-cta-active-border-color: #404040;
  --semantic-color-actions-cta-active-text-color: #ffffff;
  --semantic-color-actions-cta-active-background-color: #404040;
  --semantic-color-actions-cta-focus-border-color: #404040;
  --semantic-color-actions-cta-focus-text-color: #ffffff;
  --semantic-color-actions-cta-focus-background-color: #404040;
  --semantic-color-actions-secondary-default-border-color: #4b5563;
  --semantic-color-actions-secondary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-default-text-color: #4b5563;
  --semantic-color-actions-secondary-default-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-default-background-color: #ffffff03;
  --semantic-color-actions-secondary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-secondary-hover-border-color: #d1d5db;
  --semantic-color-actions-secondary-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-hover-text-color: #4b5563;
  --semantic-color-actions-secondary-hover-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-hover-background-color: #d1d5db;
  --semantic-color-actions-secondary-hover-quiet-background-color: #d1d5db;
  --semantic-color-actions-secondary-active-border-color: #6b7280;
  --semantic-color-actions-secondary-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-active-text-color: #ffffff;
  --semantic-color-actions-secondary-active-quiet-text-color: #ffffff;
  --semantic-color-actions-secondary-active-background-color: #6b7280;
  --semantic-color-actions-secondary-active-quiet-background-color: #6b7280;
  --semantic-color-actions-secondary-focus-border-color: #4b5563;
  --semantic-color-actions-secondary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-focus-text-color: #4b5563;
  --semantic-color-actions-secondary-focus-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-focus-background-color: #ffffff03;
  --semantic-color-actions-secondary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-disabled-background-color: #d4d4d4;
  --semantic-color-actions-disabled-text-color: #a3a3a3;
  --semantic-color-actions-disabled-border-color: #d4d4d4;
  --semantic-color-inputs-default-border-color: #e7e5e4;
  --semantic-color-inputs-default-text-color: #404040;
  --semantic-color-inputs-default-icon-color: #404040;
  --semantic-color-inputs-default-background-color: #e7e5e4;
  --semantic-color-inputs-selected-default-border-color: #404040;
  --semantic-color-inputs-selected-default-text-color: #404040;
  --semantic-color-inputs-selected-default-icon-color: #404040;
  --semantic-color-inputs-selected-default-background-color: #e7e5e4;
  --semantic-color-inputs-selected-hover-border-color: #737373;
  --semantic-color-inputs-selected-hover-text-color: #737373;
  --semantic-color-inputs-selected-hover-icon-color: #737373;
  --semantic-color-inputs-selected-hover-background-color: #e7e5e4;
  --semantic-color-inputs-error-border-color: #f87171;
  --semantic-color-inputs-error-text-color: #f87171;
  --semantic-color-inputs-error-icon-color: #f87171;
  --semantic-color-inputs-error-background-color: #e7e5e4;
  --semantic-color-inputs-disabled-background-color: #d4d4d4;
  --semantic-color-inputs-disabled-text-color: #a3a3a3;
  --semantic-color-inputs-disabled-icon-color: #a3a3a3;
  --semantic-color-inputs-disabled-border-color: #a3a3a3;
  --semantic-color-inputs-hover-border-color: #e7e5e4;
  --semantic-color-inputs-hover-text-color: #404040;
  --semantic-color-inputs-hover-icon-color: #404040;
  --semantic-color-inputs-hover-background-color: #ffffff;
  --semantic-color-inputs-focus-border-color: #e7e5e4;
  --semantic-color-inputs-focus-text-color: #404040;
  --semantic-color-inputs-focus-icon-color: #404040;
  --semantic-color-inputs-focus-background-color: #e7e5e4;
  --semantic-color-inputs-focus-focus-ring: #eff6ff;
  --semantic-color-feedback-info-border-color: #2dd4bf;
  --semantic-color-feedback-info-text-color: #2dd4bf;
  --semantic-color-feedback-info-icon-color: #2dd4bf;
  --semantic-color-feedback-info-background-color: #dbeafe;
  --semantic-color-feedback-warning-border-color: #fbbf24;
  --semantic-color-feedback-warning-text-color: #fbbf24;
  --semantic-color-feedback-warning-icon-color: #fbbf24;
  --semantic-color-feedback-warning-background-color: #fef3c7;
  --semantic-color-feedback-success-border-color: #34d399;
  --semantic-color-feedback-success-text-color: #34d399;
  --semantic-color-feedback-success-icon-color: #34d399;
  --semantic-color-feedback-success-background-color: #d1fae5;
  --semantic-color-feedback-help-border-color: #c084fc;
  --semantic-color-feedback-help-text-color: #c084fc;
  --semantic-color-feedback-help-icon-color: #c084fc;
  --semantic-color-feedback-help-background-color: #f3e8ff;
  --semantic-color-feedback-neutral-border-color: #9ca3af;
  --semantic-color-feedback-neutral-text-color: #9ca3af;
  --semantic-color-feedback-neutral-icon-color: #9ca3af;
  --semantic-color-feedback-neutral-background-color: #f3f4f6;
  --semantic-color-feedback-error-border-color: #f87171;
  --semantic-color-feedback-error-text-color: #f87171;
  --semantic-color-feedback-error-icon-color: #f87171;
  --semantic-color-feedback-error-background-color: #fee2e2;
  --semantic-color-typography-default: #374151;
  --semantic-color-typography-on-background: #ffffff;
  --semantic-color-status-info-border-color: #2dd4bf;
  --semantic-color-status-info-text-color: #2dd4bf;
  --semantic-color-status-info-icon-color: #2dd4bf;
  --semantic-color-status-info-background-color: #dbeafe;
  --semantic-color-status-warning-border-color: #fbbf24;
  --semantic-color-status-warning-text-color: #fbbf24;
  --semantic-color-status-warning-icon-color: #fbbf24;
  --semantic-color-status-warning-background-color: #fef3c7;
  --semantic-color-status-success-border-color: #34d399;
  --semantic-color-status-success-text-color: #34d399;
  --semantic-color-status-success-icon-color: #34d399;
  --semantic-color-status-success-background-color: #d1fae5;
  --semantic-color-status-help-border-color: #c084fc;
  --semantic-color-status-help-text-color: #c084fc;
  --semantic-color-status-help-icon-color: #c084fc;
  --semantic-color-status-help-background-color: #f3e8ff;
  --semantic-color-status-neutral-border-color: #9ca3af;
  --semantic-color-status-neutral-text-color: #9ca3af;
  --semantic-color-status-neutral-icon-color: #9ca3af;
  --semantic-color-status-neutral-background-color: #f3f4f6;
  --semantic-color-status-error-border-color: #f87171;
  --semantic-color-status-error-text-color: #f87171;
  --semantic-color-status-error-icon-color: #f87171;
  --semantic-color-status-error-background-color: #fee2e2;
  --semantic-color-container-default: #6b7280;
  --semantic-color-container-on-background: #ffffff;
  --semantic-color-navigation-background-color: #404040;
  --semantic-color-navigation-border-color: #404040;
  --semantic-color-navigation-font-color: #ffffff;
  --semantic-color-navigation-icon-color: #ffffff;
  --semantic-color-focus-border-color: #e5e5e5;
  --semantic-spacing-ui-m-space-between: 12;
  --semantic-spacing-ui-xxs-space-between: 4;
  --semantic-spacing-ui-xxs-space-around: 4;
  --semantic-spacing-ui-xs-space-between: 8;
  --semantic-spacing-ui-xs-space-around: 6;
  --semantic-spacing-ui-sm-space-between: 16;
  --semantic-spacing-ui-sm-space-around: 8;
  --semantic-spacing-ui-md-space-between: 24;
  --semantic-spacing-ui-md-space-around: 12;
  --semantic-spacing-ui-lg-space-between: 32;
  --semantic-spacing-ui-lg-space-around: 16;
  --semantic-spacing-ui-xl-space-between: 64;
  --semantic-spacing-ui-xl-space-around: 24;
  --semantic-spacing-ui-2xl-space-between: 96;
  --semantic-spacing-ui-2xl-space-around: 32;
  --semantic-spacing-ui-3xl-space-between: 160;
  --semantic-spacing-ui-3xl-space-around: 64;
  --semantic-spacing-ui-4xl-space-around: 96;
  --semantic-spacing-ui-none-space-between: 0;
  --semantic-spacing-ui-none-space-around: 0;
  --semantic-spacing-actions-small-padding-left: 16;
  --semantic-spacing-actions-small-padding-right: 16;
  --semantic-spacing-actions-small-padding-top: 8;
  --semantic-spacing-actions-small-padding-bottom: 8;
  --semantic-spacing-actions-medium-padding-left: 16;
  --semantic-spacing-actions-medium-padding-right: 16;
  --semantic-spacing-actions-medium-padding-top: 12;
  --semantic-spacing-actions-medium-padding-bottom: 12;
  --semantic-spacing-actions-large-padding-left: 16;
  --semantic-spacing-actions-large-padding-right: 16;
  --semantic-spacing-actions-large-padding-top: 16;
  --semantic-spacing-actions-large-padding-bottom: 16;
  --semantic-spacing-actions-extra-large-padding-left: 16;
  --semantic-spacing-actions-extra-large-padding-right: 16;
  --semantic-spacing-actions-extra-large-padding-top: 20;
  --semantic-spacing-actions-extra-large-padding-bottom: 20;
  --semantic-spacing-inputs-small-padding-left: 16;
  --semantic-spacing-inputs-small-padding-right: 16;
  --semantic-spacing-inputs-small-padding-top: 8;
  --semantic-spacing-inputs-small-padding-bottom: 8;
  --semantic-spacing-inputs-medium-padding-left: 16;
  --semantic-spacing-inputs-medium-padding-right: 16;
  --semantic-spacing-inputs-medium-padding-top: 12;
  --semantic-spacing-inputs-medium-padding-bottom: 12;
  --semantic-spacing-inputs-large-padding-left: 16;
  --semantic-spacing-inputs-large-padding-right: 16;
  --semantic-spacing-inputs-large-padding-top: 16;
  --semantic-spacing-inputs-large-padding-bottom: 16;
  --semantic-spacing-inputs-extra-large-padding-left: 16;
  --semantic-spacing-inputs-extra-large-padding-right: 16;
  --semantic-spacing-inputs-extra-large-padding-top: 20;
  --semantic-spacing-inputs-extra-large-padding-bottom: 20;
  --semantic-spacing-inputs-space-between: 8;
  --semantic-spacing-feedback-padding-left: 16;
  --semantic-spacing-feedback-padding-right: 16;
  --semantic-spacing-feedback-padding-top: 16;
  --semantic-spacing-feedback-padding-bottom: 16;
  --semantic-spacing-status-space-between: 8;
  --semantic-spacing-status-small-padding-top: 6;
  --semantic-spacing-status-small-padding-right: 12;
  --semantic-spacing-status-small-padding-bottom: 6;
  --semantic-spacing-status-small-padding-left: 12;
  --semantic-spacing-status-medium-padding-top: 8;
  --semantic-spacing-status-medium-padding-right: 16;
  --semantic-spacing-status-medium-padding-bottom: 8;
  --semantic-spacing-status-medium-padding-left: 16;
  --semantic-spacing-status-large-padding-top: 8;
  --semantic-spacing-status-large-padding-right: 16;
  --semantic-spacing-status-large-padding-bottom: 8;
  --semantic-spacing-status-large-padding-left: 16;
  --semantic-spacing-status-extra-large-padding-top: 8;
  --semantic-spacing-status-extra-large-padding-right: 16;
  --semantic-spacing-status-extra-large-padding-bottom: 8;
  --semantic-spacing-status-extra-large-padding-left: 16;
  --semantic-spacing-card-padding-left: 0;
  --semantic-spacing-card-padding-right: 0;
  --semantic-spacing-card-padding-top: 0;
  --semantic-spacing-card-padding-bottom: 8;
  --semantic-secondary-default: #4b5563;
  --semantic-secondary-emphasised: #6b7280;
  --semantic-secondary-muted: #d1d5db;
  --semantic-secondary-subtle: #f3f4f6;
  --semantic-secondary-disabled: #9ca3af;
  --semantic-warning-fg: #fbbf24;
  --semantic-warning-emphasised: #f59e0b;
  --semantic-warning-muted: #fcd34d;
  --semantic-warning-subtle: #fef3c7;
  --semantic-warning-on-warning: #000000;
  --semantic-error-fg: #f87171;
  --semantic-error-emphasised: #ef4444;
  --semantic-error-muted: #fca5a5;
  --semantic-error-subtle: #fee2e2;
  --semantic-error-on-error: #ffffff;
  --semantic-info-fg: #2dd4bf;
  --semantic-info-emphasised: #3b82f6;
  --semantic-info-muted: #93c5fd;
  --semantic-info-subtle: #dbeafe;
  --semantic-info-on-info: #ffffff;
  --semantic-success-fg: #34d399;
  --semantic-success-emphasised: #10b981;
  --semantic-success-muted: #6ee7b7;
  --semantic-success-subtle: #d1fae5;
  --semantic-success-on-success: #ffffff;
  --semantic-help-fg: #c084fc;
  --semantic-help-emphasised: #a855f7;
  --semantic-help-muted: #d8b4fe;
  --semantic-help-subtle: #f3e8ff;
  --semantic-help-on-success: #ffffff;
  --semantic-component-extra-small: 24;
  --semantic-component-small: 32;
  --semantic-component-medium: 40;
  --semantic-component-large: 48;
  --semantic-component-extra-large: 56;
  --semantic-neutral-fg: #9ca3af;
  --semantic-neutral-emphasised: #6b7280;
  --semantic-neutral-muted: #d1d5db;
  --semantic-neutral-subtle: #f3f4f6;
  --semantic-neutral-on-success: #ffffff;
  --semantic-border-default: #e7e5e4;
  --semantic-border-radius-small: 0px;
  --semantic-border-radius-medium: 4px;
  --semantic-border-radius-large: 16px;
  --semantic-border-radius-round: 100px;
  --semantic-font-size-actions-sm: 12;
  --semantic-font-size-actions-md: 14;
  --semantic-font-size-actions-lg: 17;
  --semantic-font-size-actions-xl: 20;
  --semantic-font-size-typography-heading-xxs: 14;
  --semantic-font-size-typography-heading-xs: 17;
  --semantic-font-size-typography-heading-sm: 20;
  --semantic-font-size-typography-heading-md: 24;
  --semantic-font-size-typography-heading-lg: 29;
  --semantic-font-size-typography-heading-xl: 35;
  --semantic-font-size-typography-heading-2xl: 42;
  --semantic-font-size-typography-heading-d-1: 50;
  --semantic-font-size-typography-heading-d-2: 60;
  --semantic-font-size-typography-heading-d-3: 72;
  --semantic-font-size-typography-heading-d-4: 86;
  --semantic-font-size-typography-body-xs: 10;
  --semantic-font-size-typography-body-sm: 12;
  --semantic-font-size-typography-body-md: 14;
  --semantic-font-size-typography-body-lg: 17;
  --semantic-font-size-typography-body-xl: 20;
  --semantic-font-size-typography-body-2xl: 24;
  --semantic-font-size-navigation-xs: 10;
  --semantic-font-size-navigation-sm: 12;
  --semantic-font-size-navigation-md: 14;
  --semantic-font-size-navigation-lg: 17;
  --semantic-font-size-navigation-xl: 20;
  --semantic-font-size-navigation-2xl: 24;
  --semantic-font-size-inputs-sm: 10;
  --semantic-font-size-inputs-md: 12;
  --semantic-font-size-inputs-lg: 14;
  --semantic-font-size-inputs-xl: 17;
  --semantic-font-family-inputs: "Pragmatica";
  --semantic-font-family-actions: "Pragmatica";
  --semantic-font-family-typography-headings: "Pragmatica";
  --semantic-font-family-typography-body: "Pragmatica";
  --semantic-font-family-feedback: "Pragmatica";
  --semantic-font-family-status: "Pragmatica";
  --semantic-font-family-navigation: "Pragmatica";
  --semantic-font-weight-body: Regular;
  --semantic-font-weight-actions: Medium;
  --semantic-font-weight-status: Regular;
  --semantic-font-weight-headings: Bold;
  --semantic-font-weight-card-headings: Semi Bold;
  --semantic-font-weight-typography-headings-300: Light;
  --semantic-font-weight-typography-headings-400: Regular;
  --semantic-font-weight-typography-headings-500: Medium;
  --semantic-font-weight-typography-headings-600: Semi Bold;
  --semantic-font-weight-typography-headings-700: Bold;
  --semantic-font-weight-typography-body-300: Light;
  --semantic-font-weight-typography-body-400: Regular;
  --semantic-font-weight-typography-body-500: Medium;
  --semantic-font-weight-typography-body-600: SemiBold;
  --semantic-font-weight-typography-body-700: Bold;
  --semantic-font-weight-feedback-regular: Regular;
  --semantic-font-weight-feedback-bold: Bold;
  --semantic-sizing-actions-small: 32;
  --semantic-sizing-actions-medium: 40;
  --semantic-sizing-actions-large: 48;
  --semantic-sizing-actions-extra-large: 56;
  --semantic-sizing-actions-icon-size-small: 16;
  --semantic-sizing-actions-icon-size-medium: 24;
  --semantic-sizing-actions-icon-size-large: 32;
  --semantic-sizing-actions-icon-size-extra-large: 40;
  --semantic-sizing-inputs-small: 32;
  --semantic-sizing-inputs-medium: 40;
  --semantic-sizing-inputs-large: 48;
  --semantic-sizing-inputs-extra-large: 56;
  --semantic-sizing-inputs-icon-size-small: 16;
  --semantic-sizing-inputs-icon-size-medium: 24;
  --semantic-sizing-inputs-icon-size-large: 32;
  --semantic-sizing-inputs-icon-size-extra-large: 40;
  --semantic-sizing-inputs-width: 20;
  --semantic-sizing-feedback-icon-size: 16;
  --semantic-sizing-feedback-width: 72;
  --semantic-sizing-container-small: 1;
  --semantic-sizing-container-medium: 2;
  --semantic-sizing-container-large: 4;
  --semantic-sizing-navigation-icon-size-xxs: 16;
  --semantic-sizing-navigation-icon-size-xs: 20;
  --semantic-sizing-navigation-icon-size-sm: 24;
  --semantic-sizing-navigation-icon-size-md: 32;
  --semantic-sizing-navigation-icon-size-lg: 32;
  --semantic-sizing-navigation-icon-size-xl: 40;
  --semantic-sizing-navigation-icon-size-2xl: 56;
  --semantic-sizing-navigation-icon-size-3xl: 72;
  --semantic-sizing-navigation-xxs: 20;
  --semantic-sizing-navigation-xs: 24;
  --semantic-sizing-navigation-sm: 32;
  --semantic-sizing-navigation-md: 36;
  --semantic-sizing-navigation-lg: 40;
  --semantic-sizing-navigation-xl: 48;
  --semantic-sizing-navigation-2xl: 64;
  --semantic-sizing-navigation-3xl: 80;
  --semantic-sizing-status-sm-height: 24;
  --semantic-sizing-status-sm-icon-size: 8;
  --semantic-sizing-status-md-height: 32;
  --semantic-sizing-status-md-icon-size: 16;
  --semantic-sizing-status-lg-height: 40;
  --semantic-sizing-status-lg-icon-size: 24;
  --semantic-sizing-status-xl-height: 48;
  --semantic-sizing-status-xl-icon-size: 32;
  --semantic-line-height-typography-heading: 120%;
  --semantic-line-height-typography-display: 100%;
  --semantic-line-height-typography-body: 150%;
  --semantic-line-height-typography-code: 130%;
  --semantic-line-height-typography-detail: 130%;
  --tighter: -10%;
  --tight: -1%;
  --normal: 0%;
  --wide: 1%;
  --wider: 5%;
  --widest: 10%;
      }