.roxy-theme {
          --font-family-font-1: Hurme Geometric Sans 3;
  --font-family-font-2: Hurme Geometric Sans 3;
  --font-weight-semi-bold: SemiBold;
  --semantic-fg-default: #171717;
  --semantic-fg-muted: #404040;
  --semantic-fg-subtle: #737373;
  --semantic-fg-on-accent: #ffffff;
  --semantic-fg-on-disabled: #a3a3a3;
  --semantic-fg-disabled: #d4d4d4;
  --semantic-fg-accent: #404040;
  --semantic-bg-surface: #f5f5f4;
  --semantic-bg-muted: #e7e5e4;
  --semantic-bg-subtle: #F2F3F2;
  --semantic-bg-canvas: #ffffff;
  --semantic-cta-default: #404040;
  --semantic-cta-emphasised: #404040;
  --semantic-cta-muted: #737373;
  --semantic-cta-subtle: #e5e5e5;
  --semantic-cta-disabled: #9ca3af;
  --semantic-primary-default: #171717;
  --semantic-primary-emphasised: #404040;
  --semantic-primary-muted: #737373;
  --semantic-primary-subtle: #e5e5e5;
  --semantic-primary-disabled: #9ca3af;
  --semantic-ui-shadow: [object Object];
  --semantic-inputs-background: #e7e5e4;
  --semantic-border-radius-actions: 0px;
  --semantic-border-radius-inputs: 0px;
  --semantic-border-radius-status: 0px;
  --semantic-border-radius-ui-card: 0px;
  --semantic-border-radius-ui: 0px;
  --semantic-border-width-actions: 1;
  --semantic-border-width-inputs: 1;
  --semantic-color-actions-primary-default-text-color: #171717;
  --semantic-spacing-ui-m-space-between: 12;
      }