.roxy-theme {
          --font-family-font-1: Hurme Geometric Sans 3;
  --font-family-font-2: Hurme Geometric Sans 3;
  --font-weight-semi-bold: SemiBold;
  --semantic-fg-default: #171717;
  --semantic-fg-muted: #404040;
  --semantic-fg-subtle: #737373;
  --semantic-fg-on-accent: #ffffff;
  --semantic-fg-on-disabled: #a3a3a3;
  --semantic-fg-disabled: #d4d4d4;
  --semantic-fg-accent: #404040;
  --semantic-bg-surface: #f5f5f4;
  --semantic-bg-muted: #e7e5e4;
  --semantic-bg-subtle: #F2F3F2;
  --semantic-bg-canvas: #ffffff;
  --semantic-cta-default: #404040;
  --semantic-cta-emphasised: #404040;
  --semantic-cta-muted: #737373;
  --semantic-cta-subtle: #e5e5e5;
  --semantic-cta-disabled: #9ca3af;
  --semantic-primary-default: #171717;
  --semantic-primary-emphasised: #404040;
  --semantic-primary-muted: #737373;
  --semantic-primary-subtle: #e5e5e5;
  --semantic-primary-disabled: #9ca3af;
  --semantic-ui-shadow: [object Object];
  --semantic-ui-border-radius: 0px;
  --semantic-inputs-background: #e7e5e4;
  --semantic-inputs-text: #404040;
  --semantic-inputs-placeholder: #737373;
  --semantic-inputs-border-default: #e7e5e4;
  --semantic-inputs-border-disabled: #a3a3a3;
  --semantic-inputs-fg-disabled: #d4d4d4;
  --semantic-border-radius-actions: 0px;
  --semantic-border-radius-inputs: 0px;
  --semantic-border-radius-status: 0px;
  --semantic-border-radius-ui-card: 0px;
  --semantic-border-radius-ui: 0px;
  --semantic-border-radius-feedback: 4px;
  --semantic-border-radius-navigation-default: 0px;
  --semantic-border-radius-navigation-round: 100px;
  --semantic-border-width-actions: 1;
  --semantic-border-width-inputs: 1;
  --semantic-border-width-status: 1;
  --semantic-border-width-feedback: 1;
  --semantic-border-width-navigation: 2;
  --semantic-border-width-slider: 4;
  --semantic-border-width-focus: 4;
  --semantic-border-width-card: 0;
  --semantic-color-actions-primary-default-text-color: #171717;
  --semantic-color-actions-primary-default-border-color: #171717;
  --semantic-color-actions-primary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-default-quiet-text-color: #171717;
  --semantic-color-actions-primary-default-background-color: #ffffff03;
  --semantic-color-actions-primary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-primary-hover-border-color: #737373;
  --semantic-color-actions-primary-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-hover-text-color: #ffffff;
  --semantic-color-actions-primary-hover-quiet-text-color: #ffffff;
  --semantic-color-actions-primary-hover-background-color: #737373;
  --semantic-color-actions-primary-hover-quiet-background-color: #737373;
  --semantic-color-actions-primary-active-border-color: #404040;
  --semantic-color-actions-primary-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-active-text-color: #ffffff;
  --semantic-color-actions-primary-active-quiet-text-color: #ffffff;
  --semantic-color-actions-primary-active-background-color: #404040;
  --semantic-color-actions-primary-active-quiet-background-color: #404040;
  --semantic-color-actions-primary-focus-border-color: #171717;
  --semantic-color-actions-primary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-primary-focus-text-color: #171717;
  --semantic-color-actions-primary-focus-quiet-text-color: #171717;
  --semantic-color-actions-primary-focus-background-color: #ffffff03;
  --semantic-color-actions-primary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-default-border-color: #f87171;
  --semantic-color-actions-negative-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-default-text-color: #f87171;
  --semantic-color-actions-negative-default-quiet-text-color: #f87171;
  --semantic-color-actions-negative-default-background-color: #ffffff03;
  --semantic-color-actions-negative-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-hover-border-color: #fca5a5;
  --semantic-color-actions-negative-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-hover-text-color: #ffffff;
  --semantic-color-actions-negative-hover-quiet-text-color: #fca5a5;
  --semantic-color-actions-negative-hover-background-color: #fca5a5;
  --semantic-color-actions-negative-hover-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-active-border-color: #ef4444;
  --semantic-color-actions-negative-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-active-text-color: #ffffff;
  --semantic-color-actions-negative-active-quiet-text-color: #ef4444;
  --semantic-color-actions-negative-active-background-color: #ef4444;
  --semantic-color-actions-negative-active-quiet-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-border-color: #f87171;
  --semantic-color-actions-negative-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-negative-focus-text-color: #f87171;
  --semantic-color-actions-negative-focus-quiet-text-color: #f87171;
  --semantic-color-actions-negative-focus-background-color: #ffffff03;
  --semantic-color-actions-negative-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-cta-default-border-color: #404040;
  --semantic-color-actions-cta-default-text-color: #ffffff;
  --semantic-color-actions-cta-default-background-color: #404040;
  --semantic-color-actions-cta-hover-border-color: #737373;
  --semantic-color-actions-cta-hover-text-color: #ffffff;
  --semantic-color-actions-cta-hover-background-color: #737373;
  --semantic-color-actions-cta-active-border-color: #404040;
  --semantic-color-actions-cta-active-text-color: #ffffff;
  --semantic-color-actions-cta-active-background-color: #404040;
  --semantic-color-actions-cta-focus-border-color: #404040;
  --semantic-color-actions-cta-focus-text-color: #ffffff;
  --semantic-color-actions-cta-focus-background-color: #404040;
  --semantic-color-actions-secondary-default-border-color: #4b5563;
  --semantic-color-actions-secondary-default-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-default-text-color: #4b5563;
  --semantic-color-actions-secondary-default-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-default-background-color: #ffffff03;
  --semantic-color-actions-secondary-default-quiet-background-color: #ffffff03;
  --semantic-color-actions-secondary-hover-border-color: #d1d5db;
  --semantic-color-actions-secondary-hover-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-hover-text-color: #4b5563;
  --semantic-color-actions-secondary-hover-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-hover-background-color: #d1d5db;
  --semantic-color-actions-secondary-hover-quiet-background-color: #d1d5db;
  --semantic-color-actions-secondary-active-border-color: #6b7280;
  --semantic-color-actions-secondary-active-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-active-text-color: #ffffff;
  --semantic-color-actions-secondary-active-quiet-text-color: #ffffff;
  --semantic-color-actions-secondary-active-background-color: #6b7280;
  --semantic-color-actions-secondary-active-quiet-background-color: #6b7280;
  --semantic-color-actions-secondary-focus-border-color: #4b5563;
  --semantic-color-actions-secondary-focus-quiet-border-color: #ffffff03;
  --semantic-color-actions-secondary-focus-text-color: #4b5563;
  --semantic-color-actions-secondary-focus-quiet-text-color: #4b5563;
  --semantic-color-actions-secondary-focus-background-color: #ffffff03;
  --semantic-color-actions-secondary-focus-quiet-background-color: #ffffff03;
  --semantic-color-actions-disabled-background-color: #d4d4d4;
  --semantic-color-actions-disabled-text-color: #a3a3a3;
  --semantic-color-actions-disabled-border-color: #d4d4d4;
  --semantic-color-inputs-default-border-color: #e7e5e4;
  --semantic-color-inputs-default-text-color: #404040;
  --semantic-color-inputs-default-icon-color: #404040;
  --semantic-color-inputs-default-background-color: #e7e5e4;
  --semantic-color-inputs-selected-default-border-color: #404040;
  --semantic-color-inputs-selected-default-text-color: #404040;
  --semantic-color-inputs-selected-default-icon-color: #404040;
  --semantic-color-inputs-selected-default-background-color: #e7e5e4;
  --semantic-color-inputs-selected-hover-border-color: #737373;
  --semantic-color-inputs-selected-hover-text-color: #737373;
  --semantic-color-inputs-selected-hover-icon-color: #737373;
  --semantic-color-inputs-selected-hover-background-color: #e7e5e4;
  --semantic-color-inputs-error-border-color: #f87171;
  --semantic-color-inputs-error-text-color: #f87171;
  --semantic-color-inputs-error-icon-color: #f87171;
  --semantic-color-inputs-error-background-color: #e7e5e4;
  --semantic-color-inputs-disabled-background-color: #d4d4d4;
  --semantic-color-inputs-disabled-text-color: #a3a3a3;
  --semantic-color-inputs-disabled-icon-color: #a3a3a3;
  --semantic-color-inputs-disabled-border-color: #a3a3a3;
  --semantic-color-inputs-hover-border-color: #e7e5e4;
  --semantic-color-inputs-hover-text-color: #404040;
  --semantic-color-inputs-hover-icon-color: #404040;
  --semantic-color-inputs-hover-background-color: #ffffff;
  --semantic-color-inputs-focus-border-color: #e7e5e4;
  --semantic-color-inputs-focus-text-color: #404040;
  --semantic-color-inputs-focus-icon-color: #404040;
  --semantic-color-inputs-focus-background-color: #e7e5e4;
  --semantic-color-inputs-focus-focus-ring: #eff6ff;
  --semantic-color-feedback-info-border-color: #2dd4bf;
  --semantic-color-feedback-info-text-color: #2dd4bf;
  --semantic-color-feedback-info-icon-color: #2dd4bf;
  --semantic-color-feedback-info-background-color: #dbeafe;
  --semantic-color-feedback-warning-border-color: #fbbf24;
  --semantic-color-feedback-warning-text-color: #fbbf24;
  --semantic-color-feedback-warning-icon-color: #fbbf24;
  --semantic-color-feedback-warning-background-color: #fef3c7;
  --semantic-color-feedback-success-border-color: #34d399;
  --semantic-color-feedback-success-text-color: #34d399;
  --semantic-color-feedback-success-icon-color: #34d399;
  --semantic-color-feedback-success-background-color: #d1fae5;
  --semantic-color-feedback-help-border-color: #c084fc;
  --semantic-color-feedback-help-text-color: #c084fc;
  --semantic-color-feedback-help-icon-color: #c084fc;
  --semantic-color-feedback-help-background-color: #f3e8ff;
  --semantic-color-feedback-neutral-border-color: #9ca3af;
  --semantic-color-feedback-neutral-text-color: #9ca3af;
  --semantic-color-feedback-neutral-icon-color: #9ca3af;
  --semantic-color-feedback-neutral-background-color: #f3f4f6;
  --semantic-color-feedback-error-border-color: #f87171;
  --semantic-color-feedback-error-text-color: #f87171;
  --semantic-color-feedback-error-icon-color: #f87171;
  --semantic-color-feedback-error-background-color: #fee2e2;
  --semantic-color-typography-default: #374151;
  --semantic-color-typography-on-background: #ffffff;
  --semantic-color-status-info-border-color: #2dd4bf;
  --semantic-color-status-info-text-color: #2dd4bf;
  --semantic-color-status-info-icon-color: #2dd4bf;
  --semantic-color-status-info-background-color: #dbeafe;
  --semantic-color-status-warning-border-color: #fbbf24;
  --semantic-color-status-warning-text-color: #fbbf24;
  --semantic-color-status-warning-icon-color: #fbbf24;
  --semantic-color-status-warning-background-color: #fef3c7;
  --semantic-color-status-success-border-color: #34d399;
  --semantic-color-status-success-text-color: #34d399;
  --semantic-color-status-success-icon-color: #34d399;
  --semantic-color-status-success-background-color: #d1fae5;
  --semantic-color-status-help-border-color: #c084fc;
  --semantic-color-status-help-text-color: #c084fc;
  --semantic-color-status-help-icon-color: #c084fc;
  --semantic-color-status-help-background-color: #f3e8ff;
  --semantic-color-status-neutral-border-color: #9ca3af;
  --semantic-color-status-neutral-text-color: #9ca3af;
  --semantic-color-status-neutral-icon-color: #9ca3af;
  --semantic-color-status-neutral-background-color: #f3f4f6;
  --semantic-color-status-error-border-color: #f87171;
  --semantic-color-status-error-text-color: #f87171;
  --semantic-color-status-error-icon-color: #f87171;
  --semantic-color-status-error-background-color: #fee2e2;
  --semantic-color-container-default: #6b7280;
  --semantic-color-container-on-background: #ffffff;
  --semantic-color-navigation-background-color: #404040;
  --semantic-color-navigation-border-color: #404040;
  --semantic-color-navigation-font-color: #ffffff;
  --semantic-color-navigation-icon-color: #ffffff;
  --semantic-color-focus-border-color: #e5e5e5;
  --semantic-spacing-ui-m-space-between: 12;
  --semantic-spacing-ui-xxs-space-between: 4;
  --semantic-spacing-ui-xxs-space-around: 4;
  --semantic-spacing-ui-xs-space-between: 8;
  --semantic-spacing-ui-xs-space-around: 6;
  --semantic-spacing-ui-sm-space-between: 16;
  --semantic-spacing-ui-sm-space-around: 8;
  --semantic-spacing-ui-md-space-between: 24;
  --semantic-spacing-ui-md-space-around: 12;
  --semantic-spacing-ui-lg-space-between: 32;
  --semantic-spacing-ui-lg-space-around: 16;
  --semantic-spacing-ui-xl-space-between: 64;
  --semantic-spacing-ui-xl-space-around: 24;
  --semantic-spacing-ui-2xl-space-between: 96;
  --semantic-spacing-ui-2xl-space-around: 32;
  --semantic-spacing-ui-3xl-space-between: 160;
  --semantic-spacing-ui-3xl-space-around: 64;
  --semantic-spacing-ui-4xl-space-around: 96;
  --semantic-spacing-ui-none-space-between: 0;
  --semantic-spacing-ui-none-space-around: 0;
  --semantic-spacing-actions-small-padding-left: 16;
  --semantic-spacing-actions-small-padding-right: 16;
  --semantic-spacing-actions-small-padding-top: 8;
  --semantic-spacing-actions-small-padding-bottom: 8;
  --semantic-spacing-actions-medium-padding-left: 16;
  --semantic-spacing-actions-medium-padding-right: 16;
  --semantic-spacing-actions-medium-padding-top: 12;
  --semantic-spacing-actions-medium-padding-bottom: 12;
  --semantic-spacing-actions-large-padding-left: 16;
  --semantic-spacing-actions-large-padding-right: 16;
  --semantic-spacing-actions-large-padding-top: 16;
  --semantic-spacing-actions-large-padding-bottom: 16;
  --semantic-spacing-actions-extra-large-padding-left: 16;
  --semantic-spacing-actions-extra-large-padding-right: 16;
  --semantic-spacing-actions-extra-large-padding-top: 20;
  --semantic-spacing-actions-extra-large-padding-bottom: 20;
  --semantic-spacing-inputs-small-padding-left: 16;
  --semantic-spacing-inputs-small-padding-right: 16;
  --semantic-spacing-inputs-small-padding-top: 8;
  --semantic-spacing-inputs-small-padding-bottom: 8;
  --semantic-spacing-inputs-medium-padding-left: 16;
  --semantic-spacing-inputs-medium-padding-right: 16;
  --semantic-spacing-inputs-medium-padding-top: 12;
  --semantic-spacing-inputs-medium-padding-bottom: 12;
  --semantic-spacing-inputs-large-padding-left: 16;
  --semantic-spacing-inputs-large-padding-right: 16;
  --semantic-spacing-inputs-large-padding-top: 16;
  --semantic-spacing-inputs-large-padding-bottom: 16;
  --semantic-spacing-inputs-extra-large-padding-left: 16;
  --semantic-spacing-inputs-extra-large-padding-right: 16;
  --semantic-spacing-inputs-extra-large-padding-top: 20;
  --semantic-spacing-inputs-extra-large-padding-bottom: 20;
  --semantic-spacing-inputs-space-between: 8;
  --semantic-spacing-feedback-padding-left: 16;
  --semantic-spacing-feedback-padding-right: 16;
  --semantic-spacing-feedback-padding-top: 16;
  --semantic-spacing-feedback-padding-bottom: 16;
  --semantic-spacing-status-space-between: 8;
  --semantic-spacing-status-small-padding-top: 6;
  --semantic-spacing-status-small-padding-right: 12;
  --semantic-spacing-status-small-padding-bottom: 6;
  --semantic-spacing-status-small-padding-left: 12;
  --semantic-spacing-status-medium-padding-top: 8;
  --semantic-spacing-status-medium-padding-right: 16;
  --semantic-spacing-status-medium-padding-bottom: 8;
  --semantic-spacing-status-medium-padding-left: 16;
  --semantic-spacing-status-large-padding-top: 8;
  --semantic-spacing-status-large-padding-right: 16;
  --semantic-spacing-status-large-padding-bottom: 8;
  --semantic-spacing-status-large-padding-left: 16;
  --semantic-spacing-status-extra-large-padding-top: 8;
  --semantic-spacing-status-extra-large-padding-right: 16;
  --semantic-spacing-status-extra-large-padding-bottom: 8;
  --semantic-spacing-status-extra-large-padding-left: 16;
  --semantic-spacing-card-padding-left: 0;
  --semantic-spacing-card-padding-right: 0;
  --semantic-spacing-card-padding-top: 0;
  --semantic-spacing-card-padding-bottom: 8;
  --semantic-secondary-default: #4b5563;
  --semantic-secondary-emphasised: #6b7280;
  --semantic-secondary-muted: #d1d5db;
  --semantic-secondary-subtle: #f3f4f6;
  --semantic-secondary-disabled: #9ca3af;
  --semantic-warning-fg: #fbbf24;
  --semantic-warning-emphasised: #f59e0b;
  --semantic-warning-muted: #fcd34d;
  --semantic-warning-subtle: #fef3c7;
  --semantic-warning-on-warning: #000000;
  --semantic-error-fg: #f87171;
  --semantic-error-emphasised: #ef4444;
  --semantic-error-muted: #fca5a5;
  --semantic-error-subtle: #fee2e2;
  --semantic-error-on-error: #ffffff;
  --semantic-info-fg: #2dd4bf;
  --semantic-info-emphasised: #3b82f6;
  --semantic-info-muted: #93c5fd;
  --semantic-info-subtle: #dbeafe;
  --semantic-info-on-info: #ffffff;
  --semantic-success-fg: #34d399;
  --semantic-success-emphasised: #10b981;
  --semantic-success-muted: #6ee7b7;
  --semantic-success-subtle: #d1fae5;
  --semantic-success-on-success: #ffffff;
  --semantic-help-fg: #c084fc;
  --semantic-help-emphasised: #a855f7;
  --semantic-help-muted: #d8b4fe;
  --semantic-help-subtle: #f3e8ff;
  --semantic-help-on-success: #ffffff;
  --semantic-component-extra-small: 24;
  --semantic-component-small: 32;
  --semantic-component-medium: 40;
  --semantic-component-large: 48;
  --semantic-component-extra-large: 56;
  --semantic-neutral-fg: #9ca3af;
  --semantic-neutral-emphasised: #6b7280;
  --semantic-neutral-muted: #d1d5db;
  --semantic-neutral-subtle: #f3f4f6;
  --semantic-neutral-on-success: #ffffff;
  --semantic-border-default: #F2F3F2;
  --semantic-border-radius-small: 0px;
  --semantic-border-radius-medium: 4px;
  --semantic-border-radius-large: 16px;
  --semantic-border-radius-round: 100px;
  --semantic-font-size-actions-sm: 12;
  --semantic-font-size-actions-md: 14;
  --semantic-font-size-actions-lg: 17;
  --semantic-font-size-actions-xl: 20;
  --semantic-font-size-typography-heading-xxs: 14;
  --semantic-font-size-typography-heading-xs: 17;
  --semantic-font-size-typography-heading-sm: 20;
  --semantic-font-size-typography-heading-md: 24;
  --semantic-font-size-typography-heading-lg: 29;
  --semantic-font-size-typography-heading-xl: 35;
  --semantic-font-size-typography-heading-2xl: 42;
  --semantic-font-size-typography-heading-d-1: 50;
  --semantic-font-size-typography-heading-d-2: 60;
  --semantic-font-size-typography-heading-d-3: 72;
  --semantic-font-size-typography-heading-d-4: 86;
  --semantic-font-size-typography-body-xs: 10;
  --semantic-font-size-typography-body-sm: 12;
  --semantic-font-size-typography-body-md: 14;
  --semantic-font-size-typography-body-lg: 17;
  --semantic-font-size-typography-body-xl: 20;
  --semantic-font-size-typography-body-2xl: 24;
  --semantic-font-size-navigation-xs: 10;
  --semantic-font-size-navigation-sm: 12;
  --semantic-font-size-navigation-md: 14;
  --semantic-font-size-navigation-lg: 17;
  --semantic-font-size-navigation-xl: 20;
  --semantic-font-size-navigation-2xl: 24;
  --semantic-font-size-inputs-sm: 10;
  --semantic-font-size-inputs-md: 12;
  --semantic-font-size-inputs-lg: 14;
  --semantic-font-size-inputs-xl: 17;
  --semantic-font-family-inputs: Hurme Geometric Sans 3;
  --semantic-font-family-actions: Hurme Geometric Sans 3;
  --semantic-font-family-typography-headings: Hurme Geometric Sans 3;
  --semantic-font-family-typography-body: Hurme Geometric Sans 3;
  --semantic-font-family-feedback: Hurme Geometric Sans 3;
  --semantic-font-family-status: Hurme Geometric Sans 3;
  --semantic-font-family-navigation: Hurme Geometric Sans 3;
  --semantic-font-weight-inputs: Regular;
  --semantic-font-weight-actions: Medium;
  --semantic-font-weight-status: Regular;
  --semantic-font-weight-typography-headings-300: Light;
  --semantic-font-weight-typography-headings-400: Regular;
  --semantic-font-weight-typography-headings-500: Medium;
  --semantic-font-weight-typography-headings-600: Semi Bold;
  --semantic-font-weight-typography-headings-700: Bold;
  --semantic-font-weight-typography-body-300: Light;
  --semantic-font-weight-typography-body-400: Regular;
  --semantic-font-weight-typography-body-500: Medium;
  --semantic-font-weight-typography-body-600: SemiBold;
  --semantic-font-weight-typography-body-700: Bold;
  --semantic-font-weight-feedback-regular: Regular;
  --semantic-font-weight-feedback-bold: Bold;
  --semantic-sizing-actions-small: 32;
  --semantic-sizing-actions-medium: 40;
  --semantic-sizing-actions-large: 48;
  --semantic-sizing-actions-extra-large: 56;
  --semantic-sizing-actions-icon-size-small: 16;
  --semantic-sizing-actions-icon-size-medium: 24;
  --semantic-sizing-actions-icon-size-large: 32;
  --semantic-sizing-actions-icon-size-extra-large: 40;
  --semantic-sizing-inputs-small: 32;
  --semantic-sizing-inputs-medium: 40;
  --semantic-sizing-inputs-large: 48;
  --semantic-sizing-inputs-extra-large: 56;
  --semantic-sizing-inputs-icon-size-small: 16;
  --semantic-sizing-inputs-icon-size-medium: 24;
  --semantic-sizing-inputs-icon-size-large: 32;
  --semantic-sizing-inputs-icon-size-extra-large: 40;
  --semantic-sizing-inputs-width: 20;
  --semantic-sizing-feedback-icon-size: 16;
  --semantic-sizing-feedback-width: 72;
  --semantic-sizing-container-small: 1;
  --semantic-sizing-container-medium: 2;
  --semantic-sizing-container-large: 4;
  --semantic-sizing-navigation-icon-size-xxs: 16;
  --semantic-sizing-navigation-icon-size-xs: 20;
  --semantic-sizing-navigation-icon-size-sm: 24;
  --semantic-sizing-navigation-icon-size-md: 32;
  --semantic-sizing-navigation-icon-size-lg: 32;
  --semantic-sizing-navigation-icon-size-xl: 40;
  --semantic-sizing-navigation-icon-size-2xl: 56;
  --semantic-sizing-navigation-icon-size-3xl: 72;
  --semantic-sizing-navigation-xxs: 20;
  --semantic-sizing-navigation-xs: 24;
  --semantic-sizing-navigation-sm: 32;
  --semantic-sizing-navigation-md: 36;
  --semantic-sizing-navigation-lg: 40;
  --semantic-sizing-navigation-xl: 48;
  --semantic-sizing-navigation-2xl: 64;
  --semantic-sizing-navigation-3xl: 80;
  --semantic-sizing-status-sm-height: 24;
  --semantic-sizing-status-sm-icon-size: 8;
  --semantic-sizing-status-md-height: 32;
  --semantic-sizing-status-md-icon-size: 16;
  --semantic-sizing-status-lg-height: 40;
  --semantic-sizing-status-lg-icon-size: 24;
  --semantic-sizing-status-xl-height: 48;
  --semantic-sizing-status-xl-icon-size: 32;
  --semantic-line-height-typography-heading: 120%;
  --semantic-line-height-typography-display: 100%;
  --semantic-line-height-typography-body: 150%;
  --semantic-line-height-typography-code: 130%;
  --semantic-line-height-typography-detail: 130%;
  --tighter: -10%;
  --tight: -1%;
  --normal: 0%;
  --wide: 1%;
  --wider: 5%;
  --widest: 10%;
  --avatar-font-color: #ffffff;
  --avatar-icon-color: #ffffff;
  --avatar-border-radius: 100px;
  --avatar-border-width: 2;
  --avatar-xxs-height: 20;
  --avatar-xxs-width: 20;
  --avatar-xxs-icon-size: 16;
  --avatar-xs-height: 24;
  --avatar-xs-width: 24;
  --avatar-xs-font-size: 10;
  --avatar-xs-icon-size: 20;
  --avatar-sm-height: 32;
  --avatar-sm-width: 32;
  --avatar-sm-font-size: 12;
  --avatar-sm-icon-size: 24;
  --avatar-md-height: 36;
  --avatar-md-width: 36;
  --avatar-md-font-size: 14;
  --avatar-md-icon-size: 32;
  --avatar-lg-height: 40;
  --avatar-lg-icon-size: 32;
  --avatar-lg-width: 40;
  --avatar-lg-font-size: 17;
  --avatar-xl-height: 48;
  --avatar-xl-width: 48;
  --avatar-xl-font-size: 20;
  --avatar-xl-icon-size: 40;
  --avatar-2xl-height: 64;
  --avatar-2xl-width: 64;
  --avatar-2xl-font-size: 24;
  --avatar-2xl-icon-size: 56;
  --avatar-3xl-height: 80;
  --avatar-3xl-width: 80;
  --avatar-3xl-icon-size: 72;
  --avatar-background-color: #404040;
  --avatar-font-family: Hurme Geometric Sans 3;
  --avatar-border-color: #404040;
  --avatar-3xl-copy-height: 80;
  --avatar-3xl-copy-width: 80;
  --avatar-3xl-copy-icon-size: 72;
  --button-border-radius: 0px;
  --button-border-width: 1;
  --button-font-family: Hurme Geometric Sans 3;
  --button-font-weight: Medium;
  --button-cta-default-background-color: #404040;
  --button-cta-default-text-color: #ffffff;
  --button-cta-default-border-color: #404040;
  --button-cta-default-icon-color: #ffffff;
  --button-cta-hover-background-color: #737373;
  --button-cta-hover-text-color: #ffffff;
  --button-cta-hover-border-color: #737373;
  --button-cta-hover-icon-color: #ffffff;
  --button-cta-active-background-color: #404040;
  --button-cta-active-text-color: #ffffff;
  --button-cta-active-border-color: #404040;
  --button-cta-active-icon-color: #ffffff;
  --button-cta-focus-background-color: #404040;
  --button-cta-focus-text-color: #ffffff;
  --button-cta-focus-border-color: #404040;
  --button-cta-focus-icon-color: #ffffff;
  --button-primary-default-background-color: #ffffff03;
  --button-primary-default-quiet-background-color: #ffffff03;
  --button-primary-default-text-color: #171717;
  --button-primary-default-quiet-text-color: #171717;
  --button-primary-default-border-color: #171717;
  --button-primary-default-quiet-border-color: #ffffff03;
  --button-primary-default-icon-color: #171717;
  --button-primary-default-quiet-icon-color: #171717;
  --button-primary-hover-background-color: #737373;
  --button-primary-hover-quiet-background-color: #737373;
  --button-primary-hover-text-color: #ffffff;
  --button-primary-hover-quiet-text-color: #ffffff;
  --button-primary-hover-border-color: #737373;
  --button-primary-hover-quiet-border-color: #ffffff03;
  --button-primary-hover-icon-color: #ffffff;
  --button-primary-hover-quiet-icon-color: #ffffff;
  --button-primary-active-background-color: #404040;
  --button-primary-active-quiet-background-color: #404040;
  --button-primary-active-text-color: #ffffff;
  --button-primary-active-quiet-text-color: #ffffff;
  --button-primary-active-border-color: #404040;
  --button-primary-active-quiet-border-color: #ffffff03;
  --button-primary-active-icon-color: #ffffff;
  --button-primary-active-quiet-icon-color: #ffffff;
  --button-primary-focus-background-color: #ffffff03;
  --button-primary-focus-quiet-background-color: #ffffff03;
  --button-primary-focus-text-color: #171717;
  --button-primary-focus-quiet-text-color: #171717;
  --button-primary-focus-border-color: #171717;
  --button-primary-focus-quiet-border-color: #ffffff03;
  --button-primary-focus-icon-color: #171717;
  --button-primary-focus-quiet-icon-color: #171717;
  --button-secondary-default-background-color: #ffffff03;
  --button-secondary-default-quiet-background-color: #ffffff03;
  --button-secondary-default-text-color: #4b5563;
  --button-secondary-default-quiet-text-color: #4b5563;
  --button-secondary-default-border-color: #4b5563;
  --button-secondary-default-quiet-border-color: #ffffff03;
  --button-secondary-default-icon-color: #4b5563;
  --button-secondary-default-quiet-icon-color: #4b5563;
  --button-secondary-hover-background-color: #d1d5db;
  --button-secondary-hover-quiet-background-color: #d1d5db;
  --button-secondary-hover-text-color: #4b5563;
  --button-secondary-hover-quiet-text-color: #4b5563;
  --button-secondary-hover-border-color: #d1d5db;
  --button-secondary-hover-quiet-border-color: #ffffff03;
  --button-secondary-hover-icon-color: #4b5563;
  --button-secondary-hover-quiet-icon-color: #4b5563;
  --button-secondary-active-background-color: #6b7280;
  --button-secondary-active-quiet-background-color: #6b7280;
  --button-secondary-active-text-color: #ffffff;
  --button-secondary-active-quiet-text-color: #ffffff;
  --button-secondary-active-border-color: #6b7280;
  --button-secondary-active-quiet-border-color: #ffffff03;
  --button-secondary-active-icon-color: #ffffff;
  --button-secondary-active-quiet-icon-color: #ffffff;
  --button-secondary-focus-background-color: #ffffff03;
  --button-secondary-focus-quiet-background-color: #ffffff03;
  --button-secondary-focus-text-color: #4b5563;
  --button-secondary-focus-quiet-text-color: #4b5563;
  --button-secondary-focus-border-color: #4b5563;
  --button-secondary-focus-quiet-border-color: #ffffff03;
  --button-secondary-focus-icon-color: #4b5563;
  --button-secondary-focus-quiet-icon-color: #4b5563;
  --button-negative-default-background-color: #ffffff03;
  --button-negative-default-quiet-background-color: #ffffff03;
  --button-negative-default-text-color: #f87171;
  --button-negative-default-quiet-text-color: #f87171;
  --button-negative-default-border-color: #f87171;
  --button-negative-default-quiet-border-color: #ffffff03;
  --button-negative-default-icon-color: #f87171;
  --button-negative-default-quiet-icon-color: #f87171;
  --button-negative-hover-background-color: #fca5a5;
  --button-negative-hover-quiet-background-color: #ffffff03;
  --button-negative-hover-text-color: #ffffff;
  --button-negative-hover-quiet-text-color: #fca5a5;
  --button-negative-hover-border-color: #fca5a5;
  --button-negative-hover-quiet-border-color: #ffffff03;
  --button-negative-hover-icon-color: #ffffff;
  --button-negative-hover-quiet-icon-color: #fca5a5;
  --button-negative-active-background-color: #ef4444;
  --button-negative-active-quiet-background-color: #ffffff03;
  --button-negative-active-text-color: #ffffff;
  --button-negative-active-quiet-text-color: #ef4444;
  --button-negative-active-border-color: #ef4444;
  --button-negative-active-quiet-border-color: #ffffff03;
  --button-negative-active-icon-color: #ffffff;
  --button-negative-active-quiet-icon-color: #ef4444;
  --button-negative-focus-background-color: #ffffff03;
  --button-negative-focus-quiet-background-color: #ffffff03;
  --button-negative-focus-text-color: #f87171;
  --button-negative-focus-quiet-text-color: #f87171;
  --button-negative-focus-border-color: #f87171;
  --button-negative-focus-quiet-border-color: #ffffff03;
  --button-negative-focus-icon-color: #f87171;
  --button-negative-focus-quiet-icon-color: #f87171;
  --button-disabled-background-color: #d4d4d4;
  --button-disabled-text-color: #a3a3a3;
  --button-disabled-border-color: #d4d4d4;
  --button-disabled-icon-color: #a3a3a3;
  --button-sm-text-size: 12;
  --button-sm-padding-left: 16;
  --button-sm-padding-right: 16;
  --button-sm-icon-size: 16;
  --button-sm-height: 32;
  --button-md-text-size: 14;
  --button-md-padding-left: 16;
  --button-md-padding-right: 16;
  --button-md-padding-top: 12;
  --button-md-padding-bottom: 12;
  --button-md-icon-size: 24;
  --button-md-height: 40;
  --button-lg-text-size: 17;
  --button-lg-padding-left: 16;
  --button-lg-padding-right: 16;
  --button-lg-padding-top: 16;
  --button-lg-padding-bottom: 16;
  --button-lg-icon-size: 32;
  --button-lg-height: 48;
  --button-xl-text-size: 20;
  --button-xl-padding-left: 16;
  --button-xl-padding-right: 16;
  --button-xl-padding-top: 20;
  --button-xl-padding-bottom: 20;
  --button-xl-icon-size: 40;
  --button-xl-height: 56;
  --button-line-height: 100%;
  --link-primary-default-font-color: #404040;
  --link-primary-hover-font-color: #737373;
  --link-primary-visited-font-color: #404040;
  --link-secondary-default-font-color: #4b5563;
  --link-secondary-hover-font-color: #4b5563;
  --link-secondary-visited-font-color: #6b7280;
  --link-on-background-default-font-color: #ffffff;
  --link-on-background-hover-font-color: #ffffff;
  --link-on-background-visited-font-color: #ffffff;
  --link-disabled-font-color: #a3a3a3;
  --tag-font-family: Hurme Geometric Sans 3;
  --tag-font-weight: Regular;
  --tag-border-radius: 0px;
  --tag-space-between: 8;
  --tag-solid-info-background-color: #2dd4bf;
  --tag-solid-info-text-color: #ffffff;
  --tag-solid-info-icon-color: #ffffff;
  --tag-solid-success-background-color: #34d399;
  --tag-solid-success-text-color: #ffffff;
  --tag-solid-success-icon-color: #ffffff;
  --tag-solid-warning-background-color: #fbbf24;
  --tag-solid-warning-text-color: #ffffff;
  --tag-solid-warning-icon-color: #ffffff;
  --tag-solid-error-background-color: #f87171;
  --tag-solid-error-text-color: #ffffff;
  --tag-solid-error-icon-color: #ffffff;
  --tag-solid-neutral-background-color: #9ca3af;
  --tag-solid-neutral-text-color: #ffffff;
  --tag-solid-neutral-icon-color: #ffffff;
  --tag-inverted-info-background-color: #dbeafe;
  --tag-inverted-info-text-color: #2dd4bf;
  --tag-inverted-info-icon-color: #2dd4bf;
  --tag-inverted-success-background-color: #d1fae5;
  --tag-inverted-success-text-color: #34d399;
  --tag-inverted-success-icon-color: #34d399;
  --tag-inverted-warning-background-color: #fef3c7;
  --tag-inverted-warning-text-color: #fbbf24;
  --tag-inverted-warning-icon-color: #fbbf24;
  --tag-inverted-error-background-color: #fee2e2;
  --tag-inverted-error-text-color: #f87171;
  --tag-inverted-error-icon-color: #f87171;
  --tag-inverted-neutral-background-color: #f3f4f6;
  --tag-inverted-neutral-text-color: #f87171;
  --tag-inverted-neutral-icon-color: #f87171;
  --tag-outlined-info-border-color: #2dd4bf;
  --tag-outlined-info-text-color: #2dd4bf;
  --tag-outlined-info-icon-color: #2dd4bf;
  --tag-outlined-info-background-color: #ffffff03;
  --tag-outlined-sucess-border-color: #34d399;
  --tag-outlined-sucess-text-color: #34d399;
  --tag-outlined-sucess-icon-color: #34d399;
  --tag-outlined-sucess-background-color: #ffffff03;
  --tag-outlined-warning-border-color: #fbbf24;
  --tag-outlined-warning-text-color: #fbbf24;
  --tag-outlined-warning-icon-color: #fbbf24;
  --tag-outlined-warning-background-color: #ffffff03;
  --tag-outlined-error-border-color: #f87171;
  --tag-outlined-error-text-color: #f87171;
  --tag-outlined-error-icon-color: #f87171;
  --tag-outlined-error-background-color: #ffffff03;
  --tag-outlined-neutral-border-color: #9ca3af;
  --tag-outlined-neutral-text-color: #9ca3af;
  --tag-outlined-neutral-icon-color: #9ca3af;
  --tag-outlined-neutral-background-color: #ffffff03;
  --tag-borderless-info-border-color: #ffffff03;
  --tag-borderless-info-text-color: #2dd4bf;
  --tag-borderless-info-icon-color: #2dd4bf;
  --tag-borderless-info-background-color: #ffffff03;
  --tag-borderless-sucess-border-color: #ffffff03;
  --tag-borderless-sucess-text-color: #34d399;
  --tag-borderless-sucess-icon-color: #34d399;
  --tag-borderless-sucess-background-color: #ffffff03;
  --tag-borderless-warning-border-color: #ffffff03;
  --tag-borderless-warning-text-color: #fbbf24;
  --tag-borderless-warning-icon-color: #fbbf24;
  --tag-borderless-warning-background-color: #ffffff03;
  --tag-borderless-error-border-color: #ffffff03;
  --tag-borderless-error-text-color: #f87171;
  --tag-borderless-error-icon-color: #f87171;
  --tag-borderless-error-background-color: #ffffff03;
  --tag-borderless-neutral-border-color: #ffffff03;
  --tag-borderless-neutral-text-color: #9ca3af;
  --tag-borderless-neutral-icon-color: #9ca3af;
  --tag-borderless-neutral-background-color: #ffffff03;
  --tag-sm-height: 24;
  --tag-sm-icon-size: 8;
  --tag-sm-padding-right: 12;
  --tag-sm-padding-left: 12;
  --tag-md-height: 32;
  --tag-md-icon-size: 16;
  --tag-md-padding-right: 16;
  --tag-md-padding-left: 16;
  --tag-lg-height: 40;
  --tag-lg-icon-size: 24;
  --tag-lg-padding-right: 16;
  --tag-lg-padding-left: 16;
  --tag-xl-height: 48;
  --tag-xl-icon-size: 32;
  --tag-xl-padding-right: 16;
  --tag-xl-padding-left: 16;
  --field-label-sm-text-size: 10;
  --field-label-md-text-size: 12;
  --field-label-lg-text-size: 14;
  --field-label-xl-text-size: 17;
  --field-label-font-family: Hurme Geometric Sans 3;
  --field-label-font-weight: Regular;
  --field-label-disabled-text-color: #a3a3a3;
  --field-label-default-text-color: #404040;
  --alert-banner-width: 72;
  --alert-banner-padding-top: 16;
  --alert-banner-padding-right: 16;
  --alert-banner-padding-bottom: 16;
  --alert-banner-padding-left: 16;
  --alert-banner-border-width: 1;
  --alert-banner-font-family: Hurme Geometric Sans 3;
  --alert-banner-title-font-weight: Bold;
  --alert-banner-body-font-weight: Regular;
  --alert-banner-icon-size: 16;
  --alert-banner-info-background-color: #dbeafe;
  --alert-banner-info-icon-color: #2dd4bf;
  --alert-banner-info-border-color: #2dd4bf;
  --alert-banner-info-text-color: #374151;
  --alert-banner-success-border-color: #34d399;
  --alert-banner-success-background-color: #d1fae5;
  --alert-banner-success-icon-color: #34d399;
  --alert-banner-success-text-color: #374151;
  --alert-banner-warning-border-color: #fbbf24;
  --alert-banner-warning-background-color: #fef3c7;
  --alert-banner-warning-icon-color: #fbbf24;
  --alert-banner-warning-text-color: #374151;
  --alert-banner-error-border-color: #f87171;
  --alert-banner-error-background-color: #fee2e2;
  --alert-banner-error-icon-color: #f87171;
  --alert-banner-error-text-color: #374151;
  --help-text-default-text-color: #404040;
  --help-text-default-icon-color: #404040;
  --help-text-error-text-color: #f87171;
  --help-text-error-icon-color: #f87171;
  --help-text-disabled-text-color: #a3a3a3;
  --help-text-disabled-icon-color: #a3a3a3;
  --help-text-sm-icon-size: 16;
  --help-text-md-icon-size: 24;
  --help-text-lg-icon-size: 32;
  --help-text-xl-icon-size: 40;
  --help-text-font-family: Hurme Geometric Sans 3;
  --help-text-space-between: 8;
  --help-text-font-weight: Regular;
  --heading-xs-font-size: 17;
  --heading-sm-font-size: 20;
  --heading-md-font-size: 24;
  --heading-lg-font-size: 29;
  --heading-xl-font-size: 35;
  --heading-2xl-font-size: 42;
  --heading-display-1-font-size: 50;
  --heading-display-2-font-size: 60;
  --heading-display-3-font-size: 72;
  --heading-display-4-font-size: 86;
  --heading-font-family: Hurme Geometric Sans 3;
  --heading-light-font-weight: Light;
  --heading-regular-font-weight: Regular;
  --heading-semibold-font-weight: Semi Bold;
  --heading-bold-font-weight: Bold;
  --heading-line-height: 120%;
  --display-line-height: 100%;
  --radio-label-font-family: Hurme Geometric Sans 3;
  --radio-label-font-size: 12;
  --radio-label-font-weight: Regular;
  --radio-label-font-color: #404040;
  --radio-button-border-width: 1;
  --radio-button-border-radius: 24px;
  --radio-button-height: 18;
  --radio-button-width: 18;
  --radio-button-unselected-default-background-color: #e7e5e4;
  --radio-button-unselected-default-border-color: #e7e5e4;
  --radio-button-unselected-hover-background-color: #ffffff;
  --radio-button-unselected-hover-border-color: #e7e5e4;
  --radio-button-unselected-disabled-background-color: #d4d4d4;
  --radio-button-unselected-disabled-border-color: #a3a3a3;
  --radio-button-selected-default-background-color: #404040;
  --radio-button-selected-default-border-color: #404040;
  --radio-button-selected-hover-background-color: #737373;
  --radio-button-selected-hover-border-color: #737373;
  --radio-button-selected-disabled-background-color: #a3a3a3;
  --radio-button-selected-disabled-border-color: #a3a3a3;
  --radio-checkmark-border-width: 1;
  --radio-checkmark-border-radius: 24px;
  --radio-checkmark-height: 8;
  --radio-checkmark-width: 8;
  --radio-checkmark-unselected-default-background-color: #e7e5e4;
  --radio-checkmark-unselected-default-border-color: #e7e5e4;
  --radio-checkmark-unselected-hover-background-color: #ffffff;
  --radio-checkmark-unselected-hover-border-color: #ffffff;
  --radio-checkmark-unselected-disabled-background-color: #d4d4d4;
  --radio-checkmark-unselected-disabled-border-color: #d4d4d4;
  --radio-checkmark-selected-default-background-color: #e7e5e4;
  --radio-checkmark-selected-default-border-color: #404040;
  --radio-checkmark-selected-hover-background-color: #e7e5e4;
  --radio-checkmark-selected-hover-border-color: #737373;
  --radio-checkmark-selected-disabled-background-color: #d4d4d4;
  --radio-checkmark-selected-disabled-border-color: #a3a3a3;
  --checkbox-label-font-family: Hurme Geometric Sans 3;
  --checkbox-label-font-size: 12;
  --checkbox-label-font-weight: Regular;
  --checkbox-label-default-font-color: #404040;
  --checkbox-label-error-font-color: #f87171;
  --checkbox-width: 18;
  --checkbox-height: 18;
  --checkbox-border-radius: 0px;
  --checkbox-border-width: 1;
  --checkbox-space-between: 8;
  --checkbox-unselected-default-background-color: #e7e5e4;
  --checkbox-unselected-default-border-color: #e7e5e4;
  --checkbox-unselected-hover-background-color: #ffffff;
  --checkbox-unselected-hover-border-color: #e7e5e4;
  --checkbox-unselected-disabled-background-color: #d4d4d4;
  --checkbox-unselected-disabled-border-color: #a3a3a3;
  --checkbox-unselected-error-background-color: #e7e5e4;
  --checkbox-unselected-error-border-color: #f87171;
  --checkbox-selected-default-background-color: #404040;
  --checkbox-selected-default-border-color: #404040;
  --checkbox-selected-hover-background-color: #737373;
  --checkbox-selected-hover-border-color: #737373;
  --checkbox-selected-disabled-background-color: #d4d4d4;
  --checkbox-selected-disabled-border-color: #d4d4d4;
  --checkbox-selected-error-background-color: #f87171;
  --checkbox-selected-error-border-color: #f87171;
  --checkbox-checkmark-width: 16;
  --checkbox-checkmark-height: 16;
  --checkbox-checkmark-selected-default-icon-color: #e7e5e4;
  --checkbox-checkmark-selected-hover-icon-color: #e7e5e4;
  --checkbox-checkmark-selected-disabled-icon-color: #a3a3a3;
  --checkbox-checkmark-selected-error-icon-color: #e7e5e4;
  --body-line-height: 150%;
  --body-font-weight: Regular;
  --body-strong: Bold;
  --body-emphasized: Bold;
  --body-sans: Hurme Geometric Sans 3;
  --body-xs-font-size: 10;
  --body-sm-font-size: 12;
  --body-md-font-size: 14;
  --body-lg-font-size: 17;
  --body-xl-font-size: 20;
  --body-2xl-font-size: 24;
  --detail-serif-font-family: Hurme Geometric Sans 3;
  --detail-sans-serif-font-family: Hurme Geometric Sans 3;
  --detail-line-height: 130%;
  --divider-default-color: #6b7280;
  --divider-on-background-color: #ffffff;
  --divider-small-width: 1;
  --divider-medium-width: 2;
  --divider-large-width: 4;
  --switch-label-font-family: Hurme Geometric Sans 3;
  --switch-label-font-size: 12;
  --switch-label-font-weight: Regular;
  --switch-label-default: #404040;
  --switch-track-unselected-default-border-color: #e7e5e4;
  --switch-track-unselected-hover-border-color: #e7e5e4;
  --switch-track-unselected-focus-background-color: #e7e5e4;
  --switch-track-unselected-disabled-background-color: #a3a3a3;
  --switch-track-unselected-read-only-background-color: #e7e5e4;
  --switch-track-selected-default-border-color: #404040;
  --switch-track-selected-default-background-color: #e7e5e4;
  --switch-track-selected-hover-border-color: #737373;
  --switch-track-selected-hover-background-color: #e7e5e4;
  --switch-track-selected-focus-border-color: #e7e5e4;
  --switch-track-selected-disabled-border-color: #a3a3a3;
  --switch-track-selected-read-only-border-color: #e7e5e4;
  --switch-handle-border-width: 1;
  --switch-handle-unselected-default-border-color: #e7e5e4;
  --switch-handle-unselected-hover-border-color: #e7e5e4;
  --switch-handle-unselected-focus-border-color: #e7e5e4;
  --switch-handle-unselected-disabled-border-color: #a3a3a3;
  --switch-handle-unselected-read-only-border-color: #e7e5e4;
  --switch-handle-unselected-background-color: #e7e5e4;
  --switch-handle-selected-default-border-color: #e7e5e4;
  --switch-handle-selected-default-background-color: #e7e5e4;
  --switch-handle-selected-hover-border-color: #e7e5e4;
  --switch-handle-selected-hover-background-color: #ffffff;
  --switch-handle-selected-focus-border-color: #e7e5e4;
  --switch-handle-selected-focus-background-color: #e7e5e4;
  --switch-handle-selected-disabled-border-color: #a3a3a3;
  --switch-handle-selected-disabled-background-color: #d4d4d4;
  --switch-handle-selected-read-only-border-color: #e7e5e4;
  --switch-handle-selected-read-only-background-color: #e7e5e4;
  --menu-item-default-border-color: #e7e5e4;
  --menu-item-default-text-color: #404040;
  --menu-item-default-icon-color: #404040;
  --menu-item-default-background-color: #e7e5e4;
  --menu-item-disabled-background-color: #d4d4d4;
  --menu-item-disabled-text-color: #a3a3a3;
  --menu-item-disabled-icon-color: #a3a3a3;
  --menu-item-disabled-border-color: #a3a3a3;
  --menu-item-hover-border-color: #e7e5e4;
  --menu-item-hover-text-color: #404040;
  --menu-item-hover-icon-color: #404040;
  --menu-item-hover-background-color: #ffffff;
  --menu-item-focus-border-color: #e7e5e4;
  --menu-item-focus-text-color: #404040;
  --menu-item-focus-icon-color: #404040;
  --menu-item-focus-background-color: #e7e5e4;
  --menu-item-selected-border-color: #404040;
  --menu-item-selected-text-color: #404040;
  --menu-item-selected-icon-color: #404040;
  --menu-item-selected-background-color: #e7e5e4;
  --menu-item-sm-font-size: 10;
  --menu-item-md-font-size: 12;
  --menu-item-lg-font-size: 14;
  --menu-item-xl-font-size: 17;
  --menu-item-sans-serif-font-family: Hurme Geometric Sans 3;
  --menu-item-regular-font-weight: Regular;
  --menu-item-border-width: 1;
  --icon-button-cta-default-border-color: #404040;
  --icon-button-cta-default-icon-color: #ffffff;
  --icon-button-cta-default-background-color: #404040;
  --icon-button-cta-hover-border-color: #737373;
  --icon-button-cta-hover-icon-color: #ffffff;
  --icon-button-cta-hover-background-color: #737373;
  --icon-button-cta-active-border-color: #404040;
  --icon-button-cta-active-icon-color: #ffffff;
  --icon-button-cta-active-background-color: #404040;
  --icon-button-primary-default-background-color: #ffffff03;
  --icon-button-primary-default-quiet-background-color: #ffffff03;
  --icon-button-primary-default-border-color: #171717;
  --icon-button-primary-default-quiet-border-color: #ffffff03;
  --icon-button-primary-default-icon-color: #171717;
  --icon-button-primary-default-quiet-icon-color: #171717;
  --icon-button-primary-hover-background-color: #737373;
  --icon-button-primary-hover-quiet-background-color: #737373;
  --icon-button-primary-hover-border-color: #737373;
  --icon-button-primary-hover-quiet-border-color: #ffffff03;
  --icon-button-primary-hover-icon-color: #ffffff;
  --icon-button-primary-hover-quiet-icon-color: #ffffff;
  --icon-button-primary-active-background-color: #404040;
  --icon-button-primary-active-quiet-background-color: #404040;
  --icon-button-primary-active-border-color: #404040;
  --icon-button-primary-active-quiet-border-color: #ffffff03;
  --icon-button-primary-active-icon-color: #ffffff;
  --icon-button-primary-active-quiet-icon-color: #ffffff;
  --icon-button-secondary-default-background-color: #ffffff03;
  --icon-button-secondary-default-quiet-background-color: #ffffff03;
  --icon-button-secondary-default-border-color: #4b5563;
  --icon-button-secondary-default-quiet-border-color: #ffffff03;
  --icon-button-secondary-default-icon-color: #4b5563;
  --icon-button-secondary-default-quiet-icon-color: #4b5563;
  --icon-button-secondary-hover-background-color: #d1d5db;
  --icon-button-secondary-hover-quiet-background-color: #d1d5db;
  --icon-button-secondary-hover-border-color: #d1d5db;
  --icon-button-secondary-hover-quiet-border-color: #ffffff03;
  --icon-button-secondary-hover-icon-color: #4b5563;
  --icon-button-secondary-hover-quiet-icon-color: #4b5563;
  --icon-button-secondary-active-background-color: #6b7280;
  --icon-button-secondary-active-quiet-background-color: #6b7280;
  --icon-button-secondary-active-border-color: #6b7280;
  --icon-button-secondary-active-quiet-border-color: #ffffff03;
  --icon-button-secondary-active-icon-color: #ffffff;
  --icon-button-secondary-active-quiet-icon-color: #ffffff;
  --icon-button-negative-default-background-color: #ffffff03;
  --icon-button-negative-default-quiet-background-color: #ffffff03;
  --icon-button-negative-default-border-color: #f87171;
  --icon-button-negative-default-quiet-border-color: #ffffff03;
  --icon-button-negative-default-icon-color: #f87171;
  --icon-button-negative-default-quiet-icon-color: #f87171;
  --icon-button-negative-hover-background-color: #fca5a5;
  --icon-button-negative-hover-quiet-background-color: #ffffff03;
  --icon-button-negative-hover-border-color: #fca5a5;
  --icon-button-negative-hover-quiet-border-color: #ffffff03;
  --icon-button-negative-hover-icon-color: #ffffff;
  --icon-button-negative-hover-quiet-icon-color: #fca5a5;
  --icon-button-negative-active-background-color: #ef4444;
  --icon-button-negative-active-quiet-background-color: #ffffff03;
  --icon-button-negative-active-border-color: #ef4444;
  --icon-button-negative-active-quiet-border-color: #ffffff03;
  --icon-button-negative-active-icon-color: #ffffff;
  --icon-button-negative-active-quiet-icon-color: #ef4444;
  --icon-button-disabled-background-color: #d4d4d4;
  --icon-button-disabled-border-color: #d4d4d4;
  --icon-button-disabled-icon-color: #a3a3a3;
  --icon-button-default-border-radius: 0px;
  --icon-button-round-border-radius: 100px;
  --icon-button-border-width: 1;
  --icon-button-sm-icon-size: 16;
  --icon-button-sm-height: 32;
  --icon-button-sm-width: 32;
  --icon-button-md-icon-size: 24;
  --icon-button-md-height: 40;
  --icon-button-md-width: 40;
  --icon-button-lg-icon-size: 32;
  --icon-button-lg-height: 48;
  --icon-button-lg-width: 48;
  --icon-button-xl-icon-size: 40;
  --icon-button-xl-height: 56;
  --icon-button-xl-width: 56;
  --text-field-sm-height: 32;
  --text-field-sm-icon-size: 16;
  --text-field-sm-font-size: 10;
  --text-field-sm-padding-left: 16;
  --text-field-sm-padding-right: 16;
  --text-field-sm-space-between: 8;
  --text-field-md-height: 40;
  --text-field-md-icon-size: 24;
  --text-field-md-font-size: 12;
  --text-field-md-padding-left: 16;
  --text-field-md-padding-right: 16;
  --text-field-md-space-between: 8;
  --text-field-lg-height: 48;
  --text-field-lg-icon-size: 32;
  --text-field-lg-font-size: 12;
  --text-field-lg-padding-left: 16;
  --text-field-lg-padding-right: 16;
  --text-field-lg-space-between: 8;
  --text-field-xl-height: 56;
  --text-field-xl-icon-size: 40;
  --text-field-xl-font-size: 17;
  --text-field-xl-padding-left: 16;
  --text-field-xl-padding-right: 16;
  --text-field-xl-space-between: 8;
  --text-field-field-text-filled-text-color: #404040;
  --text-field-field-text-placeholder-text-color: #404040;
  --text-field-field-text-disabled-text-color: #a3a3a3;
  --text-field-input-field-border-radius: 0px;
  --text-field-input-field-border-width: 1;
  --text-field-input-field-default-background-color: #e7e5e4;
  --text-field-input-field-default-border-color: #e7e5e4;
  --text-field-input-field-hover-background-color: #ffffff;
  --text-field-input-field-hover-border-color: #e7e5e4;
  --text-field-input-field-error-background-color: #e7e5e4;
  --text-field-input-field-error-border-color: #f87171;
  --text-field-input-field-disabled-background-color: #d4d4d4;
  --text-field-input-field-disabled-border-color: #a3a3a3;
  --text-field-input-field-read-only-background-color: #e7e5e4;
  --text-field-input-field-read-only-border-color: #e7e5e4;
      }