.rvca-theme {
          --font-family-serif: Heebo;
  --font-family-sans-serif: Heebo;
  --font-family-mono: Heebo;
  --font-weight-semi-bold: Bold;
  --semantic-fg-default: #334155;
  --semantic-fg-muted: #64748b;
  --semantic-fg-subtle: #cbd5e1;
  --semantic-fg-on-accent: #ffffff;
  --semantic-fg-on-disabled: #94a3b8;
  --semantic-fg-disabled: #cbd5e1;
  --semantic-fg-accent: #2563eb;
  --semantic-bg-surface: #ffffff;
  --semantic-bg-muted: #d4d4d8;
  --semantic-bg-subtle: #f1f5f9;
  --semantic-bg-canvas: #fafafa;
  --semantic-cta-default: #2563eb;
  --semantic-cta-emphasised: #1d4ed8;
  --semantic-cta-muted: #3b82f6;
  --semantic-cta-subtle: #bfdbfe;
  --semantic-cta-disabled: #9ca3af;
  --semantic-primary-default: #94a3b8;
  --semantic-primary-emphasised: #64748b;
  --semantic-primary-muted: #cbd5e1;
  --semantic-primary-subtle: #e2e8f0;
  --semantic-primary-disabled: #9ca3af;
  --semantic-ui-shadow: [object Object];
  --semantic-inputs-background: #d4d4d8;
  --semantic-border-radius-actions: 100px;
  --semantic-border-radius-inputs: 100px;
  --semantic-border-radius-ui-card: 24px;
  --semantic-border-radius-ui: 100px;
  --semantic-border-width-actions: 2;
  --semantic-border-width-inputs: 2;
  --semantic-color-actions-primary-default-text-color: #4b5563;
  --semantic-font-size-typography-heading-d-1: 24;
      }